<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<hr>
	<h3 th:if="${emptyMsg}" th:text="${emptyMsg}" style="color:green"></h3>
	<p th:if="${complete}" th:text="${complete}" style="color: blue"></p>
	<table th:unless="${#lists.isEmpty(userList)}"
			style="table-layout: fixed;">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>mail</th>
			<th>age</th>
			<th></th>
		</tr>
		<tr th:each="obj : ${userList}" aline="center">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.mail}"></td>
			<td th:text="${obj.age}"></td>
			<td>
				<a th:href="@{/{id}(id=${obj.id})}">更新</a>
				<a id="del" th:href="@{/delete(id=${obj.id})}">削除</a>
				<!-- -->
			</td>
		</tr>
	</table>
	<a th:href="@{/ins}">新規登録</a>
	
	<script>
		'use strict';
		document.getElementBy('del').addEventListener('click', function (e) {
			if (!window.confirm('削除しても良いですか？')) {
				e.preventDefault();
			}
		}, false);
	</script>
</body>
</html>